@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rowdies';
    src: local('Rowdies') local('poppins') url('/fonts/Rowdies-Regular.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Rowdies';
    src: local('Rowdies') local('poppins') url('/fonts/Rowdies-Bold.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Poppins';
    src: local('Poppins') local('poppins') url('/fonts/Poppins-Light.ttf') format('ttf');
  }
}

body {
  @apply bg-primary;
}

section {
  margin: 6rem 0;
  padding: 0 0.5rem;
}